@{
	Style.Include("NogginBox.ContentStarRating.css");

	var fullStars = (int)Model.Rating / 2;
	var halfStar = (Model.Rating - fullStars*2) > 0;
}
<div class="content-rating">
	@for (var i = 0; i < fullStars; i++) {
		<span class="star">@T("*")</span>
	}
	@if(halfStar) {
		<span class="half-star">@T("-")</span>
	}
</div>