@model NogginBox.ContentStarRating.Models.ContentRatingPart
@{
	Style.Include("NogginBox.ContentStarRating.css");
	Script.Require("jQuery");
	Script.Include("NogginBox.ContentStarRating.js");
}
<fieldset>
	<label>@T("Rating")</label>
	<div class="content-rating">
		@for (var i = 2; i <= 10; i+=2) {
			var starClass = i > Model.Rating ? "empty-star" : "";
			<span class="star star-button star-@i @starClass">@T("*")</span>
		}
		<span class="stars-clear">x</span>
		@Html.HiddenFor(m => m.Rating, new {@class="rating"})
	</div>
</fieldset>