.content-rating {
    overflow:hidden;
    padding:6px 0;
}

/*
the base of the stars.

sprite cheatsheet:
 - 0 0 == empty star (default == grey)
 - 0 -15 == user rating star (default == yellow/gold)
 - 0 -30 == overall rating star (default == red)
 - 0 -45 == inactive "clear stars" icon
 - 0 -60 == active "clear stars" icon
*/
.content-rating .star, .content-rating .stars-clear {
    background:url(images/yogis.png) 0 -15px no-repeat;
    display:block;
    float:left;
    height:15px;
    text-indent:-9999em;
    padding:0 1px;
    width:15px;
}

/*
half-sized rating stars for the *.5's
*/
.content-rating .half-star {
    background:url(images/yogis.png) 0 -15px no-repeat;
    display:block;
    float:left;
    height:15px;
    padding:0 0 0 1px;
    text-indent:-9999em;
    width:7px;
}

.content-rating .empty-star {
     background-position: 0 0;
 }

.content-rating .star-button, .content-rating .stars-clear.active {
    cursor:pointer;
}

/* clear stars icon/"button"*/

.content-rating .stars-clear {
    background-position:0 -45px;
}
.content-rating .stars-clear.active {
    background-position:0 -60px;
}